// @font-face {
//     font-family: "seguiemj";
//     font-weight: normal;
//     font-weight: bold;
//     src: local("Segoe UI Emoji"), url("/font/seguiemj.ttf");
// }

@font-face {
    font-family: "Ubuntu";
    font-weight: normal;
    font-style: normal;
    src: local("Ubuntu"), url("/font/Ubuntu-R.ttf");
}

@font-face {
    font-family: "Ubuntu Mono";
    font-weight: normal;
    font-style: normal;
    src: local("Ubuntu"), url("/font/UbuntuMono-R.ttf");
}

// @font-face {
//     font-family: "ubuntu";
//     font-weight: 400;
//     font-style: italic;
//     src: local("Ubuntu"), url("/font/Ubuntu-Italic.ttf");
// }

// @font-face {
//     font-family: "ubuntu";
//     font-weight: 500;
//     font-style: normal;
//     src: local("Ubuntu"), url("/font/Ubuntu-Medium.ttf");
// }

// @font-face {
//     font-family: "ubuntu";
//     font-weight: 500;
//     font-style: italic;
//     src: local("Ubuntu"), url("/font/Ubuntu-MediumItalic.ttf");
// }

// @font-face {
//     font-family: "ubuntu";
//     font-weight: 700;
//     font-style: normal;

//     src: local("Ubuntu"), url("/font/Ubuntu-Bold.ttf");
// }

// @font-face {
//     font-family: "ubuntu";
//     font-weight: 700;
//     font-style: italic;

//     src: local("Ubuntu"), url("/font/Ubuntu-BoldItalic.ttf");
// }

// @font-face {
//     font-family: "ubuntu";
//     font-weight: 300;
//     font-style: normal;
//     src: local("Ubuntu"), url("/font/Ubuntu-Light.ttf");
// }

// @font-face {
//     font-family: "ubuntu";
//     font-weight: 300;
//     font-style: italic;
//     src: local("Ubuntu"), url("/font/Ubuntu-LightItalic.ttf");
// }
