@font-face {
    font-family: "seguiemj";
    font-weight: normal;
    font-weight: bold;
    src: local("Segoe UI Emoji"), url("/fonts/seguiemj.ttf");
}

@font-face {
    font-family: "Ubuntu";
    font-weight: normal;
    font-style: normal;
    src: local("Ubuntu"), url("/fonts/Ubuntu-R.ttf");
}

@font-face {
    font-family: "Ubuntu Mono";
    font-weight: normal;
    font-style: normal;
    src: local("Ubuntu Mono"), url("/fonts/UbuntuMono-R.ttf");
}

// @font-face {
//     font-family: "ubuntu";
//     font-weight: 400;
//     font-style: italic;
//     src: local("Ubuntu"), url("/fonts/Ubuntu-Italic.ttf");
// }

// @font-face {
//     font-family: "ubuntu";
//     font-weight: 500;
//     font-style: normal;
//     src: local("Ubuntu"), url("/fonts/Ubuntu-Medium.ttf");
// }

// @font-face {
//     font-family: "ubuntu";
//     font-weight: 500;
//     font-style: italic;
//     src: local("Ubuntu"), url("/fonts/Ubuntu-MediumItalic.ttf");
// }

// @font-face {
//     font-family: "ubuntu";
//     font-weight: 700;
//     font-style: normal;

//     src: local("Ubuntu"), url("/fonts/Ubuntu-Bold.ttf");
// }

// @font-face {
//     font-family: "ubuntu";
//     font-weight: 700;
//     font-style: italic;

//     src: local("Ubuntu"), url("/fonts/Ubuntu-BoldItalic.ttf");
// }

// @font-face {
//     font-family: "ubuntu";
//     font-weight: 300;
//     font-style: normal;
//     src: local("Ubuntu"), url("/fonts/Ubuntu-Light.ttf");
// }

// @font-face {
//     font-family: "ubuntu";
//     font-weight: 300;
//     font-style: italic;
//     src: local("Ubuntu"), url("/fonts/Ubuntu-LightItalic.ttf");
// }
